<nav>

<div class="red darken-4">
     <a href="#" class="logo right">/ \</a>    
 <div class='container'>
 <h1>Welcome to Church and Date</h1>
 <hr />
 
 </div>
  
      
     

   <div class='waves-effect waves-light btn red darken-4'><%= link_to 'Your Profile', user_profile_path(@user.id, @profile.id) %></div>

   <div class='waves-effect waves-light btn red darken-4'><%= link_to 'Your Matches', user_profile_path(@user.id, @profile.id) %></div>

   <hr />
   <div class='waves-effect waves-light btn red darken-4'><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
   <div class='waves-effect waves-light btn red darken-4'><%= button_to 'Destroy User', user_path(current_user), method: :delete %></div>
   </div>

  

</div>
    