<h1>Welcome to Church and Date</h1>
<hr />
<%= link_to 'Your Profile', user_profile_path(@user.id, @profile.id) %>

<%= link_to 'Your Matches', user_profile_path(@user.id, @profile.id) %>

<hr />
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %> 
